.container-RYiLUQ { background-color: #f3f3f3; }
.inner-ptMwR- { color: black; }
.channel-3YGMy1 { color: black; }
.name-3gtcmp { color: #2a2c31; }
.button-3WJ5FX { background-color: #2a2c31; }
.container-iksrDt { color: #2a2c31; background: #f3f3f3; }
.nameSpeaking-3ROx9q { color: #2a2c31; }
.container-3lnMWU { color: #2a2c31; background: #f3f3f3; }
.nameHovered-28u_Fz { color: red; }
.nameHoveredVoice { color: red; }
.guilds-wrapper .guilds { background-color: #ffffff; }
.appMount-14L89u { background-color: #7a7b7e; }
.guild.guilds-add { background-color: #ffffff; }

div[class^="nameHoveredVoice-"] { color: #2a2c31; }
div[class^="nameSelectedText-"] { color: #2a2c31; }
div[class^="nameSelectedVoice-"] { color: #2a2c31; }
